<%- include('../partials/header.ejs') %>
        <div class="content-body-3">
            <div class="form-container">
                <div class="form-caption">
                    <h2>✩‧Edit Your Listing‧✩</h2>
                    <p>Need to make some changes? No probelm!</p>
                </div>
                <div class="form">
                    <form method ='POST' action='/items/<%=item.id%>?_method=PUT' enctype="multipart/form-data">
                        <select name="condition" id="condition">
                            <option value="<%=item.condition%>" selected><%=item.condition%></option>
                            <option value="New">New</option>
                            <option value="Good">Good</option>
                            <option value="Used">Used</option>
                            <option value="Refurbished">Refurbished</option>
                            <option value="Other">Other</option>
                        </select>
                        <input type="text" id="title" name="title" placeholder="Title" value="<%=item.title%>" required>
                        <input type="number" id="price" name="price" placeholder="Price" value="<%=item.price%>" step=".01" required>
                        <input type="text" id="details" name="details" placeholder="Details" value="<%=item.details%>" required>
                        <label for="image-selection" required>Select Image</label>
                        <input type="file" name="image" id="image">
                        <button type="submit">Submit</button>
                    </form>         
                </div>
            </div>
        </div>
<%- include('../partials/footer.ejs') %>
