<%- include('../partials/header.ejs') %>
        <div class="content-body-3">
            <div class="item-container">
                <div class="item-pic"><img src="<%=item.image%>" alt="item-6"></div>
                <div class="item-info">
                    <div class="item-name"><%=item.title%></div>
                    <div class="item-condition"><%=item.condition%></div>
                    <div class="price-offer">
                        <div class="item-price">$<%=item.price%></div>
                        <div class="item-offers">Offers: 2</div>
                    </div>
                    <div class="item-seller">Seller: <%=item.seller%></div>
                    <div class="item-des"><%=item.details%> </div>
                    <div class="edit-delete">
                        <div class="edit-item"><button>Edit <i class="fa-regular fa-pen-to-square"></i></button></div>
                        <div class="delete-item"><button>Delete <i class="fa-solid fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
<%- include('../partials/footer.ejs') %>
 