<%- include('../partials/header.ejs') %>
        <div class="content-body-2">
            <% if(items.length) { %>
            <div class="items-list">
                <ul>
                    <% items.forEach(item => { %>
                    <li>
                        <a href="/items/<%=item.id%>"><img src="<%=item.image%>" alt="item-1">
                            <div class="caption">
                                <div class="caption-des"><%=item.title%></div>
                                <div class="caption-cond"><%=item.condition%></div>
                                <div class="caption-price">$<%=item.price%></div>
                                <div class="caption-offers">Offers: 0</div>
                            </div>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <% }else{ %>
                    <p>There are no items to display</p>
                <% } %>
        </div>
<%- include('../partials/footer.ejs') %>
        